// Tamaño de Media Queries

$telefono: 375px;
$tablet: 768px;
$desktop: 992px;
$desktopxl: 1600px;

// // Tipografia

$fuentePrincipal: 'Poppins', sans-serif; 

// Colores

$primario: #6209DB;
$blanco: #fff;
$negro: #000;
$bgHero: #c4c4c4;