@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    margin-top: 5rem;

    @include m.tablet { 
        @include m.grid(2, 1rem);
        align-items: center;
    }

    @include m.desktop { 
        @include m.grid(4, 1rem);
        
    }
    &__col{
        display: flex;
        flex-direction: column;

    }

    &__colTitle{
        font-size: 2.6rem;
    }
    
    &__colCta{
        margin-bottom: 2.6rem;
        font-size: 2rem;
        font-weight: 400;

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__colCta-icons{
        margin: 0 0 2.6rem 0;
    }

    &__icons{
        display: flex;
        align-items: center;
        justify-content: left;
    }

    &__icon{
        margin-left: 3.6rem;

        &:first-child{
            margin-left: 0;
        }
    }

}